html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #2b92be, #ffef78, #63c9b4);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

/* nav */

.nav {
    width: 60%;
    height: 200px;
    position: absolute;
    top: 0;
    background-color: #3D3D3D;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.logo img {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 5%;
    animation: zoom 2s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.nav #nav_title {
    text-align: center;
}

.list_items {
    padding-top: 20px;
}

.list_items li a {
    color: aliceblue;
}

.list_items li a:hover {
    color: red;
    transition: all 0.5s;
}



/*---------------CONTENT1--------------*/
.container {
    width: 900px;
    height: 950px;
    background: #EAE7B1;
    border: 1px px solid rgba(250, 245, 245, 0.829);
    border-radius: 20px;
    padding: 20px;  
    margin-top: 450px;
}

.container #content1 {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    display: flex;
}

.content_left,
.content_right {
    width: 48%;
    border-radius: 20px; 
    background: rgba(255, 255, 255, 0.30);
}
.content_right {
    margin-left: 4%;
}

#content1 h3, h2, p {
    padding: 5px;
}

.btn_input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

.btn_result, 
.btn_clear {
    border: none;
    width: 100px;
    height: 30px;
    background-color: #65A371;
    color: #e5e5e5;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_result:hover, 
.btn_clear:hover {
    background-color: #96c19e;
    transition: all 0.5s;
}

/*---------------CONTENT2--------------*/

.container #content2 {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.content2_left,
.content2_right {
    margin-top: 10px;
    width: 48%;
    height: 400px;
    border-radius: 20px; 
    background: rgba(255, 255, 255, 0.30);
}
.content2_right {
    margin-left: 4%;
}

#content2 h3, h2, p {
    padding: 5px;
}
/*---------------CONVERT--------------*/
#convert {
    width: 500px;
    height: 130px;
    background-color: #B5D5C5;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20%;
}

#message {
    margin-left: 27%;
}

.container_unit {
    display: flex;
}

.unit1, 
.unit2 {
    width: 40%;
    padding: 10px;
    margin-left: 7%;
}

#convert button {
    width: 150px;
    height: 30px;
    margin-left: 35%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#convert button:hover {
    background-color: #297cc8;
    color: #e5e5e5;
    transition: all 0.5s;
}

#convert input {
    padding: 3px;
    border-radius: 5px;
    border: none;
}

.container_img_input {
    display: flex;
}

.container_img_input img {
    cursor: pointer;
}

